body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

.top-container {
    background-color:  #e4f9f5;
    padding-top: 100px;
    position: relative;
    height: 100vh;
}

div {
    display: block;
}

.cloud-1 {
    position: absolute;
    top: 40px;
    right: 300px;
    margin-bottom: 10px;
}

h1 {
    color: #66bfbf;
    font-size: 6rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2 {
    color: #66bfbf !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.programmer {
    text-decoration: underline;
}

.cloud-2 {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.my-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.info-container {
    margin: 50px auto 70px auto;
    height: 100vh;
}

.intro {
    width: 50%;
    margin: auto;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 10px;
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 3rem;
}

h3 {
    color: #66bfbf !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 1.17em;
}

.skill-container {
    margin-bottom: 30px;
    height: 100vh;
}

hr {
    border: dotted #4d8282 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.contact-message {
    width: 40%;
    margin: 60px auto 60px auto;
}

.btn {
    background-color: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border: 0;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif !important;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.contact-container {
    margin-bottom: 40px;
    height: 60vh;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}


